@model FamilyMemories.Models.ApplicationRole

@{
    ViewData["Title"] = "刪除角色";
}

<h1>@ViewData["Title"]</h1>

<h3>您確定要刪除此角色嗎？</h3>
<div>
    <h4>角色</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="DeleteRole">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
