@model IEnumerable<FamilyMemories.Models.ApplicationUser>

@{
    ViewData["Title"] = "使用者管理";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="ManageUserRoles" asp-route-userId="@item.Id">管理角色</a>
            </td>
        </tr>
}
    </tbody>
</table>
